
body{
    max-width: 1280px;
    margin: 0 auto;
}
.images{
    background-color: grey;
}
.challenge-image{
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(64, 64, 64);
    margin: 50px 80px;
}
.images{
    text-align: center;
    margin: 0;
}
div{
    margin: 0;
}